<div class="header">

   <div class="header__top">
      <div class="container">
         <div class="header__top-row d-f jc-sb ai-c">
            <div class="header__top-column">
               <a class="logo d-f">
                  <img src="./../assets/images/logo.png" alt="логотип">
               </a>
            </div>
            <div class="header__top-column d-f ai-c">
               <div class="phone">
                  <img src="./../assets/images/phone.png" alt="телефон">
               </div>
               <div class="phone-numbers">
                  <div class="phone-number"><a class="t-02" href="tel:+74993908024">+7 (499) 390-80-24</a></div>
                  <div class="phone-number"><a class="t-02" href="tel:+79263301062">+7 (926) 330-10-62</a></div>
               </div>
            </div>
            <div class="header__top-column ta-e">
               <div class="mail">
                  <a class="t-02" href="mailto: zakaz@universal.moscow">
                     <img src="./../assets//images/mail.png" alt="почта">
                     <span class="t-02">zakaz@universal.moscow</span>
                  </a>
               </div>
               <div class="timetable">
                  <span>Пн-Пт: 09:00 – 19:00</span>
                  <span>Сб-Вс: 10:00 – 18:00</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <nav class="navigation">
      <div class="container">
         <ul class="d-f fw-w ">
            <li><a class="t-02" href="#">Услуги</a></li>
            <li><a class="t-02" href="#">Цены</a></li>
            <li><a class="t-02" href="#">О компании</a></li>
            <li><a class="t-02" href="#">Заявка</a></li>
            <li><a class="t-02" href="#">Этапы</a></li>
            <li><a class="t-02" href="#">Преимущества</a></li>
            <li><a class="t-02" href="#">Отзывы</a></li>
            <li><a class="t-02" href="#">Вопросы и ответы</a></li>
            <li><a class="t-02" href="#">Контакты</a></li>
            <li><a class="t-02" href="#">Заказать звонок</a></li>
         </ul>
      </div>
   </nav>

</div>